html, body {
    height: 100%;
}

/*html {
    display: table;
    margin: auto;
}*/

body {
    margin: auto;
    background-color: #212121;
    color: white;
    font-family: 'Trebuchet MS';
    vertical-align: middle;
}